VITE_API_URL=https://localhost:4000
VITE_API_AUTHORS_PATH=/api/authors
VITE_API_COURSES_PATH=/api/courses
VITE_AUTH_URL=https://dummyjson.com
VITE_AUTH_LOGIN_PATH=/auth/login
VITE_AUTH_USER_PATH=/auth/me