.courses {
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100%;
}

.courses-options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.courses-empty {
    display: flex;
    align-items: center;
    height: calc(100vh - 64px - 60px);
    justify-content: center;
}
